{
  "extends": "airbnb",
  "parser": "typescript-eslint-parser",
  "plugins": ["import", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "max-len": "off",
    "prettier/prettier": "error",
    "semi": ["error", "never"]
  }
}
